# Visual Studio
.vs/
.vscode/

# C# (объектные и скомпилированные файлы)
**/obj/
**/bin/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/

# Системные файлы
Thumbs.db
Desktop.ini

# Логи и временные файлы
*.log
*.bak
*.tmp

# Github
.github
